(
    schema_version: 1,
    id: "plant/old-growth",
    display_name: "Old-Growth Broadleaf Tree",
    category: Plant,
    bounds: (
        radius: 3,
        min_level: 0,
        height: 18,
    ),
    connectivity: Grounded,
    origin: (q: 0, r: 0, level: 0),
    placements: [
        (
            position: (q: -2, r: 0, level: 7),
            style: "plant/trunk",
            part: Plant(Branch),
        ),
        (
            position: (q: -2, r: 0, level: 9),
            style: "plant/foliage-dark",
            part: Plant(Foliage),
        ),
        (
            position: (q: -2, r: 1, level: 10),
            style: "plant/foliage-dark",
            part: Plant(Foliage),
        ),
        (
            position: (q: -2, r: 1, level: 11),
            style: "plant/foliage-mid",
            part: Plant(Foliage),
        ),
        (
            position: (q: -2, r: 2, level: 7),
            style: "plant/trunk",
            part: Plant(Branch),
        ),
        (
            position: (q: -2, r: 2, level: 9),
            style: "plant/foliage-mid",
            part: Plant(Foliage),
        ),
        (
            position: (q: -1, r: -1, level: 10),
            style: "plant/foliage-dark",
            part: Plant(Foliage),
        ),
        (
            position: (q: -1, r: -1, level: 11),
            style: "plant/foliage-mid",
            part: Plant(Foliage),
        ),
        (
            position: (q: -1, r: -1, level: 12),
            style: "plant/foliage-light",
            part: Plant(Foliage),
        ),
        (
            position: (q: -1, r: 0, level: 0),
            style: "plant/trunk",
            part: Plant(Root),
        ),
        (
            position: (q: -1, r: 0, level: 1),
            style: "plant/trunk",
            part: Plant(Trunk),
        ),
        (
            position: (q: -1, r: 0, level: 2),
            style: "plant/trunk",
            part: Plant(Trunk),
        ),
        (
            position: (q: -1, r: 0, level: 3),
            style: "plant/trunk",
            part: Plant(Trunk),
        ),
        (
            position: (q: -1, r: 0, level: 7),
            style: "plant/trunk",
            part: Plant(Branch),
        ),
        (
            position: (q: -1, r: 0, level: 9),
            style: "plant/foliage-dark",
            part: Plant(Foliage),
        ),
        (
            position: (q: -1, r: 0, level: 10),
            style: "plant/foliage-mid",
            part: Plant(Foliage),
        ),
        (
            position: (q: -1, r: 0, level: 11),
            style: "plant/foliage-light",
            part: Plant(Foliage),
        ),
        (
            position: (q: -1, r: 0, level: 12),
            style: "plant/foliage-mid",
            part: Plant(Foliage),
        ),
        (
            position: (q: -1, r: 0, level: 13),
            style: "plant/foliage-light",
            part: Plant(Foliage),
        ),
        (
            position: (q: -1, r: 0, level: 14),
            style: "plant/foliage-mid",
            part: Plant(Foliage),
        ),
        (
            position: (q: -1, r: 0, level: 15),
            style: "plant/foliage-light",
            part: Plant(Foliage),
        ),
        (
            position: (q: -1, r: 1, level: 0),
            style: "plant/trunk",
            part: Plant(Root),
        ),
        (
            position: (q: -1, r: 1, level: 1),
            style: "plant/trunk",
            part: Plant(Trunk),
        ),
        (
            position: (q: -1, r: 1, level: 2),
            style: "plant/trunk",
            part: Plant(Trunk),
        ),
        (
            position: (q: -1, r: 1, level: 7),
            style: "plant/trunk",
            part: Plant(Branch),
        ),
        (
            position: (q: -1, r: 1, level: 9),
            style: "plant/foliage-mid",
            part: Plant(Foliage),
        ),
        (
            position: (q: -1, r: 1, level: 10),
            style: "plant/foliage-dark",
            part: Plant(Foliage),
        ),
        (
            position: (q: -1, r: 1, level: 11),
            style: "plant/foliage-mid",
            part: Plant(Foliage),
        ),
        (
            position: (q: -1, r: 1, level: 12),
            style: "plant/foliage-light",
            part: Plant(Foliage),
        ),
        (
            position: (q: -1, r: 1, level: 13),
            style: "plant/foliage-mid",
            part: Plant(Foliage),
        ),
        (
            position: (q: -1, r: 1, level: 14),
            style: "plant/foliage-light",
            part: Plant(Foliage),
        ),
        (
            position: (q: -1, r: 2, level: 10),
            style: "plant/foliage-mid",
            part: Plant(Foliage),
        ),
        (
            position: (q: 0, r: -2, level: 7),
            style: "plant/trunk",
            part: Plant(Branch),
        ),
        (
            position: (q: 0, r: -2, level: 9),
            style: "plant/foliage-dark",
            part: Plant(Foliage),
        ),
        (
            position: (q: 0, r: -1, level: 0),
            style: "plant/trunk",
            part: Plant(Root),
        ),
        (
            position: (q: 0, r: -1, level: 1),
            style: "plant/trunk",
            part: Plant(Trunk),
        ),
        (
            position: (q: 0, r: -1, level: 2),
            style: "plant/trunk",
            part: Plant(Trunk),
        ),
        (
            position: (q: 0, r: -1, level: 7),
            style: "plant/trunk",
            part: Plant(Branch),
        ),
        (
            position: (q: 0, r: -1, level: 9),
            style: "plant/foliage-dark",
            part: Plant(Foliage),
        ),
        (
            position: (q: 0, r: -1, level: 10),
            style: "plant/foliage-mid",
            part: Plant(Foliage),
        ),
        (
            position: (q: 0, r: -1, level: 11),
            style: "plant/foliage-light",
            part: Plant(Foliage),
        ),
        (
            position: (q: 0, r: -1, level: 12),
            style: "plant/foliage-mid",
            part: Plant(Foliage),
        ),
        (
            position: (q: 0, r: -1, level: 13),
            style: "plant/foliage-light",
            part: Plant(Foliage),
        ),
        (
            position: (q: 0, r: -1, level: 14),
            style: "plant/foliage-mid",
            part: Plant(Foliage),
        ),
        (
            position: (q: 0, r: 0, level: 0),
            style: "plant/trunk",
            part: Plant(Root),
        ),
        (
            position: (q: 0, r: 0, level: 1),
            style: "plant/trunk",
            part: Plant(Trunk),
        ),
        (
            position: (q: 0, r: 0, level: 2),
            style: "plant/trunk",
            part: Plant(Trunk),
        ),
        (
            position: (q: 0, r: 0, level: 3),
            style: "plant/trunk",
            part: Plant(Trunk),
        ),
        (
            position: (q: 0, r: 0, level: 4),
            style: "plant/trunk",
            part: Plant(Trunk),
        ),
        (
            position: (q: 0, r: 0, level: 5),
            style: "plant/trunk",
            part: Plant(Trunk),
        ),
        (
            position: (q: 0, r: 0, level: 6),
            style: "plant/trunk",
            part: Plant(Trunk),
        ),
        (
            position: (q: 0, r: 0, level: 7),
            style: "plant/trunk",
            part: Plant(Trunk),
        ),
        (
            position: (q: 0, r: 0, level: 8),
            style: "plant/trunk",
            part: Plant(Trunk),
        ),
        (
            position: (q: 0, r: 0, level: 9),
            style: "plant/foliage-mid",
            part: Plant(Foliage),
        ),
        (
            position: (q: 0, r: 0, level: 10),
            style: "plant/foliage-light",
            part: Plant(Foliage),
        ),
        (
            position: (q: 0, r: 0, level: 11),
            style: "plant/foliage-mid",
            part: Plant(Foliage),
        ),
        (
            position: (q: 0, r: 0, level: 12),
            style: "plant/foliage-light",
            part: Plant(Foliage),
        ),
        (
            position: (q: 0, r: 0, level: 13),
            style: "plant/foliage-mid",
            part: Plant(Foliage),
        ),
        (
            position: (q: 0, r: 0, level: 14),
            style: "plant/foliage-light",
            part: Plant(Foliage),
        ),
        (
            position: (q: 0, r: 0, level: 15),
            style: "plant/foliage-mid",
            part: Plant(Foliage),
        ),
        (
            position: (q: 0, r: 0, level: 16),
            style: "plant/foliage-light",
            part: Plant(Foliage),
        ),
        (
            position: (q: 0, r: 0, level: 17),
            style: "plant/foliage-light",
            part: Plant(Foliage),
        ),
        (
            position: (q: 0, r: 1, level: 0),
            style: "plant/trunk",
            part: Plant(Root),
        ),
        (
            position: (q: 0, r: 1, level: 1),
            style: "plant/trunk",
            part: Plant(Trunk),
        ),
        (
            position: (q: 0, r: 1, level: 2),
            style: "plant/trunk",
            part: Plant(Trunk),
        ),
        (
            position: (q: 0, r: 1, level: 3),
            style: "plant/trunk",
            part: Plant(Trunk),
        ),
        (
            position: (q: 0, r: 1, level: 7),
            style: "plant/trunk",
            part: Plant(Branch),
        ),
        (
            position: (q: 0, r: 1, level: 9),
            style: "plant/foliage-mid",
            part: Plant(Foliage),
        ),
        (
            position: (q: 0, r: 1, level: 10),
            style: "plant/foliage-dark",
            part: Plant(Foliage),
        ),
        (
            position: (q: 0, r: 1, level: 11),
            style: "plant/foliage-light",
            part: Plant(Foliage),
        ),
        (
            position: (q: 0, r: 1, level: 12),
            style: "plant/foliage-mid",
            part: Plant(Foliage),
        ),
        (
            position: (q: 0, r: 1, level: 13),
            style: "plant/foliage-light",
            part: Plant(Foliage),
        ),
        (
            position: (q: 0, r: 1, level: 14),
            style: "plant/foliage-mid",
            part: Plant(Foliage),
        ),
        (
            position: (q: 0, r: 1, level: 15),
            style: "plant/foliage-light",
            part: Plant(Foliage),
        ),
        (
            position: (q: 0, r: 1, level: 16),
            style: "plant/foliage-light",
            part: Plant(Foliage),
        ),
        (
            position: (q: 0, r: 2, level: 7),
            style: "plant/trunk",
            part: Plant(Branch),
        ),
        (
            position: (q: 0, r: 2, level: 9),
            style: "plant/foliage-mid",
            part: Plant(Foliage),
        ),
        (
            position: (q: 1, r: -2, level: 10),
            style: "plant/foliage-dark",
            part: Plant(Foliage),
        ),
        (
            position: (q: 1, r: -1, level: 0),
            style: "plant/trunk",
            part: Plant(Root),
        ),
        (
            position: (q: 1, r: -1, level: 1),
            style: "plant/trunk",
            part: Plant(Trunk),
        ),
        (
            position: (q: 1, r: -1, level: 2),
            style: "plant/trunk",
            part: Plant(Trunk),
        ),
        (
            position: (q: 1, r: -1, level: 7),
            style: "plant/trunk",
            part: Plant(Branch),
        ),
        (
            position: (q: 1, r: -1, level: 9),
            style: "plant/foliage-dark",
            part: Plant(Foliage),
        ),
        (
            position: (q: 1, r: -1, level: 10),
            style: "plant/foliage-mid",
            part: Plant(Foliage),
        ),
        (
            position: (q: 1, r: -1, level: 11),
            style: "plant/foliage-light",
            part: Plant(Foliage),
        ),
        (
            position: (q: 1, r: -1, level: 12),
            style: "plant/foliage-mid",
            part: Plant(Foliage),
        ),
        (
            position: (q: 1, r: -1, level: 13),
            style: "plant/foliage-light",
            part: Plant(Foliage),
        ),
        (
            position: (q: 1, r: -1, level: 14),
            style: "plant/foliage-mid",
            part: Plant(Foliage),
        ),
        (
            position: (q: 1, r: -1, level: 15),
            style: "plant/foliage-light",
            part: Plant(Foliage),
        ),
        (
            position: (q: 1, r: 0, level: 0),
            style: "plant/trunk",
            part: Plant(Root),
        ),
        (
            position: (q: 1, r: 0, level: 1),
            style: "plant/trunk",
            part: Plant(Trunk),
        ),
        (
            position: (q: 1, r: 0, level: 2),
            style: "plant/trunk",
            part: Plant(Trunk),
        ),
        (
            position: (q: 1, r: 0, level: 3),
            style: "plant/trunk",
            part: Plant(Trunk),
        ),
        (
            position: (q: 1, r: 0, level: 7),
            style: "plant/trunk",
            part: Plant(Branch),
        ),
        (
            position: (q: 1, r: 0, level: 9),
            style: "plant/foliage-dark",
            part: Plant(Foliage),
        ),
        (
            position: (q: 1, r: 0, level: 10),
            style: "plant/foliage-mid",
            part: Plant(Foliage),
        ),
        (
            position: (q: 1, r: 0, level: 11),
            style: "plant/foliage-light",
            part: Plant(Foliage),
        ),
        (
            position: (q: 1, r: 0, level: 12),
            style: "plant/foliage-mid",
            part: Plant(Foliage),
        ),
        (
            position: (q: 1, r: 0, level: 13),
            style: "plant/foliage-light",
            part: Plant(Foliage),
        ),
        (
            position: (q: 1, r: 0, level: 14),
            style: "plant/foliage-mid",
            part: Plant(Foliage),
        ),
        (
            position: (q: 1, r: 1, level: 10),
            style: "plant/foliage-dark",
            part: Plant(Foliage),
        ),
        (
            position: (q: 1, r: 1, level: 11),
            style: "plant/foliage-mid",
            part: Plant(Foliage),
        ),
        (
            position: (q: 1, r: 1, level: 12),
            style: "plant/foliage-light",
            part: Plant(Foliage),
        ),
        (
            position: (q: 2, r: -2, level: 7),
            style: "plant/trunk",
            part: Plant(Branch),
        ),
        (
            position: (q: 2, r: -2, level: 9),
            style: "plant/foliage-mid",
            part: Plant(Foliage),
        ),
        (
            position: (q: 2, r: -1, level: 10),
            style: "plant/foliage-dark",
            part: Plant(Foliage),
        ),
        (
            position: (q: 2, r: -1, level: 11),
            style: "plant/foliage-mid",
            part: Plant(Foliage),
        ),
        (
            position: (q: 2, r: 0, level: 7),
            style: "plant/trunk",
            part: Plant(Branch),
        ),
        (
            position: (q: 2, r: 0, level: 9),
            style: "plant/foliage-dark",
            part: Plant(Foliage),
        ),
    ],
    blocker_footprint: [
        (q: -1, r: 0),
        (q: -1, r: 1),
        (q: 0, r: -1),
        (q: 0, r: 0),
        (q: 0, r: 1),
        (q: 1, r: -1),
        (q: 1, r: 0),
    ],
    canopy_occluders: [
        (q: -2, r: 0, level: 9),
        (q: -2, r: 1, level: 10),
        (q: -2, r: 1, level: 11),
        (q: -2, r: 2, level: 9),
        (q: -1, r: -1, level: 10),
        (q: -1, r: -1, level: 11),
        (q: -1, r: -1, level: 12),
        (q: -1, r: 0, level: 9),
        (q: -1, r: 0, level: 10),
        (q: -1, r: 0, level: 11),
        (q: -1, r: 0, level: 12),
        (q: -1, r: 0, level: 13),
        (q: -1, r: 0, level: 14),
        (q: -1, r: 0, level: 15),
        (q: -1, r: 1, level: 9),
        (q: -1, r: 1, level: 10),
        (q: -1, r: 1, level: 11),
        (q: -1, r: 1, level: 12),
        (q: -1, r: 1, level: 13),
        (q: -1, r: 1, level: 14),
        (q: -1, r: 2, level: 10),
        (q: 0, r: -2, level: 9),
        (q: 0, r: -1, level: 9),
        (q: 0, r: -1, level: 10),
        (q: 0, r: -1, level: 11),
        (q: 0, r: -1, level: 12),
        (q: 0, r: -1, level: 13),
        (q: 0, r: -1, level: 14),
        (q: 0, r: 0, level: 9),
        (q: 0, r: 0, level: 10),
        (q: 0, r: 0, level: 11),
        (q: 0, r: 0, level: 12),
        (q: 0, r: 0, level: 13),
        (q: 0, r: 0, level: 14),
        (q: 0, r: 0, level: 15),
        (q: 0, r: 0, level: 16),
        (q: 0, r: 0, level: 17),
        (q: 0, r: 1, level: 9),
        (q: 0, r: 1, level: 10),
        (q: 0, r: 1, level: 11),
        (q: 0, r: 1, level: 12),
        (q: 0, r: 1, level: 13),
        (q: 0, r: 1, level: 14),
        (q: 0, r: 1, level: 15),
        (q: 0, r: 1, level: 16),
        (q: 0, r: 2, level: 9),
        (q: 1, r: -2, level: 10),
        (q: 1, r: -1, level: 9),
        (q: 1, r: -1, level: 10),
        (q: 1, r: -1, level: 11),
        (q: 1, r: -1, level: 12),
        (q: 1, r: -1, level: 13),
        (q: 1, r: -1, level: 14),
        (q: 1, r: -1, level: 15),
        (q: 1, r: 0, level: 9),
        (q: 1, r: 0, level: 10),
        (q: 1, r: 0, level: 11),
        (q: 1, r: 0, level: 12),
        (q: 1, r: 0, level: 13),
        (q: 1, r: 0, level: 14),
        (q: 1, r: 1, level: 10),
        (q: 1, r: 1, level: 11),
        (q: 1, r: 1, level: 12),
        (q: 2, r: -2, level: 9),
        (q: 2, r: -1, level: 10),
        (q: 2, r: -1, level: 11),
        (q: 2, r: 0, level: 9),
    ],
)
