// Authored by tools/forest_finish.py; exact voxel geometry, .35 units/level.
(schema_version:1,id:"prop/expedition-crystal-needle",display_name:"Crystal Needle",category:Prop,bounds:(radius:3,min_level:0,height:22),connectivity:Grounded,origin:(q:0,r:0,level:0),placements:[
(position:(q:-3,r:0,level:0),style:"expedition/stone-recess",part:Prop(Structure)),
(position:(q:-3,r:1,level:0),style:"expedition/stone-recess",part:Prop(Structure)),
(position:(q:-3,r:2,level:0),style:"expedition/stone-recess",part:Prop(Structure)),
(position:(q:-3,r:3,level:0),style:"expedition/stone-recess",part:Prop(Structure)),
(position:(q:-2,r:-1,level:0),style:"expedition/stone-recess",part:Prop(Structure)),
(position:(q:-2,r:0,level:0),style:"expedition/stone-recess",part:Prop(Structure)),
(position:(q:-2,r:1,level:0),style:"expedition/stone-recess",part:Prop(Structure)),
(position:(q:-2,r:1,level:1),style:"expedition/crystal",part:Prop(Structure)),
(position:(q:-2,r:1,level:2),style:"expedition/crystal",part:Prop(Structure)),
(position:(q:-2,r:1,level:3),style:"expedition/crystal",part:Prop(Structure)),
(position:(q:-2,r:1,level:4),style:"expedition/crystal",part:Prop(Structure)),
(position:(q:-2,r:1,level:5),style:"expedition/crystal",part:Prop(Structure)),
(position:(q:-2,r:1,level:6),style:"expedition/crystal",part:Prop(Structure)),
(position:(q:-2,r:1,level:7),style:"expedition/crystal",part:Prop(Structure)),
(position:(q:-2,r:1,level:8),style:"expedition/crystal",part:Prop(Structure)),
(position:(q:-2,r:1,level:9),style:"expedition/crystal-tip",part:Prop(Structure)),
(position:(q:-2,r:1,level:10),style:"expedition/crystal-tip",part:Prop(Structure)),
(position:(q:-2,r:2,level:0),style:"expedition/stone-recess",part:Prop(Structure)),
(position:(q:-2,r:3,level:0),style:"expedition/stone-recess",part:Prop(Structure)),
(position:(q:-1,r:-2,level:0),style:"expedition/stone-recess",part:Prop(Structure)),
(position:(q:-1,r:-1,level:0),style:"expedition/stone-recess",part:Prop(Structure)),
(position:(q:-1,r:0,level:0),style:"expedition/stone-recess",part:Prop(Structure)),
(position:(q:-1,r:0,level:1),style:"expedition/crystal",part:Prop(Structure)),
(position:(q:-1,r:0,level:2),style:"expedition/crystal",part:Prop(Structure)),
(position:(q:-1,r:0,level:3),style:"expedition/crystal",part:Prop(Structure)),
(position:(q:-1,r:0,level:4),style:"expedition/crystal",part:Prop(Structure)),
(position:(q:-1,r:0,level:5),style:"expedition/crystal",part:Prop(Structure)),
(position:(q:-1,r:0,level:6),style:"expedition/crystal",part:Prop(Structure)),
(position:(q:-1,r:0,level:7),style:"expedition/crystal",part:Prop(Structure)),
(position:(q:-1,r:0,level:8),style:"expedition/crystal",part:Prop(Structure)),
(position:(q:-1,r:0,level:9),style:"expedition/crystal",part:Prop(Structure)),
(position:(q:-1,r:0,level:10),style:"expedition/crystal",part:Prop(Structure)),
(position:(q:-1,r:0,level:11),style:"expedition/crystal",part:Prop(Structure)),
(position:(q:-1,r:0,level:12),style:"expedition/crystal",part:Prop(Structure)),
(position:(q:-1,r:0,level:13),style:"expedition/crystal",part:Prop(Structure)),
(position:(q:-1,r:0,level:14),style:"expedition/crystal",part:Prop(Structure)),
(position:(q:-1,r:0,level:15),style:"expedition/crystal",part:Prop(Structure)),
(position:(q:-1,r:0,level:16),style:"expedition/crystal",part:Prop(Structure)),
(position:(q:-1,r:0,level:17),style:"expedition/crystal",part:Prop(Structure)),
(position:(q:-1,r:0,level:18),style:"expedition/crystal",part:Prop(Structure)),
(position:(q:-1,r:1,level:0),style:"expedition/stone-recess",part:Prop(Structure)),
(position:(q:-1,r:1,level:1),style:"expedition/crystal",part:Prop(Structure)),
(position:(q:-1,r:1,level:2),style:"expedition/crystal",part:Prop(Structure)),
(position:(q:-1,r:1,level:3),style:"expedition/crystal",part:Prop(Structure)),
(position:(q:-1,r:1,level:4),style:"expedition/crystal",part:Prop(Structure)),
(position:(q:-1,r:1,level:5),style:"expedition/crystal",part:Prop(Structure)),
(position:(q:-1,r:1,level:6),style:"expedition/crystal",part:Prop(Structure)),
(position:(q:-1,r:1,level:7),style:"expedition/crystal",part:Prop(Structure)),
(position:(q:-1,r:1,level:8),style:"expedition/crystal",part:Prop(Structure)),
(position:(q:-1,r:1,level:9),style:"expedition/crystal",part:Prop(Structure)),
(position:(q:-1,r:1,level:10),style:"expedition/crystal",part:Prop(Structure)),
(position:(q:-1,r:1,level:11),style:"expedition/crystal",part:Prop(Structure)),
(position:(q:-1,r:1,level:12),style:"expedition/crystal",part:Prop(Structure)),
(position:(q:-1,r:1,level:13),style:"expedition/crystal",part:Prop(Structure)),
(position:(q:-1,r:1,level:14),style:"expedition/crystal",part:Prop(Structure)),
(position:(q:-1,r:1,level:15),style:"expedition/crystal",part:Prop(Structure)),
(position:(q:-1,r:1,level:16),style:"expedition/crystal",part:Prop(Structure)),
(position:(q:-1,r:1,level:17),style:"expedition/crystal",part:Prop(Structure)),
(position:(q:-1,r:1,level:18),style:"expedition/crystal",part:Prop(Structure)),
(position:(q:-1,r:2,level:0),style:"expedition/stone-recess",part:Prop(Structure)),
(position:(q:-1,r:3,level:0),style:"expedition/stone-recess",part:Prop(Structure)),
(position:(q:0,r:-3,level:0),style:"expedition/stone-recess",part:Prop(Structure)),
(position:(q:0,r:-2,level:0),style:"expedition/stone-recess",part:Prop(Structure)),
(position:(q:0,r:-1,level:0),style:"expedition/stone-recess",part:Prop(Structure)),
(position:(q:0,r:-1,level:1),style:"expedition/crystal",part:Prop(Structure)),
(position:(q:0,r:-1,level:2),style:"expedition/crystal",part:Prop(Structure)),
(position:(q:0,r:-1,level:3),style:"expedition/crystal",part:Prop(Structure)),
(position:(q:0,r:-1,level:4),style:"expedition/crystal",part:Prop(Structure)),
(position:(q:0,r:-1,level:5),style:"expedition/crystal",part:Prop(Structure)),
(position:(q:0,r:-1,level:6),style:"expedition/crystal",part:Prop(Structure)),
(position:(q:0,r:-1,level:7),style:"expedition/crystal",part:Prop(Structure)),
(position:(q:0,r:-1,level:8),style:"expedition/crystal",part:Prop(Structure)),
(position:(q:0,r:-1,level:9),style:"expedition/crystal",part:Prop(Structure)),
(position:(q:0,r:-1,level:10),style:"expedition/crystal",part:Prop(Structure)),
(position:(q:0,r:-1,level:11),style:"expedition/crystal",part:Prop(Structure)),
(position:(q:0,r:-1,level:12),style:"expedition/crystal",part:Prop(Structure)),
(position:(q:0,r:-1,level:13),style:"expedition/crystal",part:Prop(Structure)),
(position:(q:0,r:-1,level:14),style:"expedition/crystal",part:Prop(Structure)),
(position:(q:0,r:-1,level:15),style:"expedition/crystal",part:Prop(Structure)),
(position:(q:0,r:-1,level:16),style:"expedition/crystal",part:Prop(Structure)),
(position:(q:0,r:-1,level:17),style:"expedition/crystal",part:Prop(Structure)),
(position:(q:0,r:-1,level:18),style:"expedition/crystal",part:Prop(Structure)),
(position:(q:0,r:0,level:0),style:"expedition/stone-recess",part:Prop(Structure)),
(position:(q:0,r:0,level:1),style:"expedition/crystal",part:Prop(Structure)),
(position:(q:0,r:0,level:2),style:"expedition/crystal",part:Prop(Structure)),
(position:(q:0,r:0,level:3),style:"expedition/crystal",part:Prop(Structure)),
(position:(q:0,r:0,level:4),style:"expedition/crystal",part:Prop(Structure)),
(position:(q:0,r:0,level:5),style:"expedition/crystal",part:Prop(Structure)),
(position:(q:0,r:0,level:6),style:"expedition/crystal",part:Prop(Structure)),
(position:(q:0,r:0,level:7),style:"expedition/crystal",part:Prop(Structure)),
(position:(q:0,r:0,level:8),style:"expedition/crystal",part:Prop(Structure)),
(position:(q:0,r:0,level:9),style:"expedition/crystal",part:Prop(Structure)),
(position:(q:0,r:0,level:10),style:"expedition/crystal",part:Prop(Structure)),
(position:(q:0,r:0,level:11),style:"expedition/crystal",part:Prop(Structure)),
(position:(q:0,r:0,level:12),style:"expedition/crystal",part:Prop(Structure)),
(position:(q:0,r:0,level:13),style:"expedition/crystal",part:Prop(Structure)),
(position:(q:0,r:0,level:14),style:"expedition/crystal",part:Prop(Structure)),
(position:(q:0,r:0,level:15),style:"expedition/crystal",part:Prop(Structure)),
(position:(q:0,r:0,level:16),style:"expedition/crystal",part:Prop(Structure)),
(position:(q:0,r:0,level:17),style:"expedition/crystal",part:Prop(Structure)),
(position:(q:0,r:0,level:18),style:"expedition/crystal",part:Prop(Structure)),
(position:(q:0,r:0,level:19),style:"expedition/crystal",part:Prop(Structure)),
(position:(q:0,r:0,level:20),style:"expedition/crystal-tip",part:Prop(Structure)),
(position:(q:0,r:0,level:21),style:"expedition/crystal-tip",part:Prop(Structure)),
(position:(q:0,r:1,level:0),style:"expedition/stone-recess",part:Prop(Structure)),
(position:(q:0,r:1,level:1),style:"expedition/crystal",part:Prop(Structure)),
(position:(q:0,r:1,level:2),style:"expedition/crystal",part:Prop(Structure)),
(position:(q:0,r:1,level:3),style:"expedition/crystal",part:Prop(Structure)),
(position:(q:0,r:1,level:4),style:"expedition/crystal",part:Prop(Structure)),
(position:(q:0,r:1,level:5),style:"expedition/crystal",part:Prop(Structure)),
(position:(q:0,r:1,level:6),style:"expedition/crystal",part:Prop(Structure)),
(position:(q:0,r:1,level:7),style:"expedition/crystal",part:Prop(Structure)),
(position:(q:0,r:1,level:8),style:"expedition/crystal",part:Prop(Structure)),
(position:(q:0,r:1,level:9),style:"expedition/crystal",part:Prop(Structure)),
(position:(q:0,r:1,level:10),style:"expedition/crystal",part:Prop(Structure)),
(position:(q:0,r:1,level:11),style:"expedition/crystal",part:Prop(Structure)),
(position:(q:0,r:1,level:12),style:"expedition/crystal",part:Prop(Structure)),
(position:(q:0,r:1,level:13),style:"expedition/crystal",part:Prop(Structure)),
(position:(q:0,r:1,level:14),style:"expedition/crystal",part:Prop(Structure)),
(position:(q:0,r:1,level:15),style:"expedition/crystal",part:Prop(Structure)),
(position:(q:0,r:1,level:16),style:"expedition/crystal",part:Prop(Structure)),
(position:(q:0,r:1,level:17),style:"expedition/crystal",part:Prop(Structure)),
(position:(q:0,r:1,level:18),style:"expedition/crystal",part:Prop(Structure)),
(position:(q:0,r:2,level:0),style:"expedition/stone-recess",part:Prop(Structure)),
(position:(q:0,r:3,level:0),style:"expedition/stone-recess",part:Prop(Structure)),
(position:(q:1,r:-3,level:0),style:"expedition/stone-recess",part:Prop(Structure)),
(position:(q:1,r:-2,level:0),style:"expedition/stone-recess",part:Prop(Structure)),
(position:(q:1,r:-1,level:0),style:"expedition/stone-recess",part:Prop(Structure)),
(position:(q:1,r:-1,level:1),style:"expedition/crystal",part:Prop(Structure)),
(position:(q:1,r:-1,level:2),style:"expedition/crystal",part:Prop(Structure)),
(position:(q:1,r:-1,level:3),style:"expedition/crystal",part:Prop(Structure)),
(position:(q:1,r:-1,level:4),style:"expedition/crystal",part:Prop(Structure)),
(position:(q:1,r:-1,level:5),style:"expedition/crystal",part:Prop(Structure)),
(position:(q:1,r:-1,level:6),style:"expedition/crystal",part:Prop(Structure)),
(position:(q:1,r:-1,level:7),style:"expedition/crystal",part:Prop(Structure)),
(position:(q:1,r:-1,level:8),style:"expedition/crystal",part:Prop(Structure)),
(position:(q:1,r:-1,level:9),style:"expedition/crystal",part:Prop(Structure)),
(position:(q:1,r:-1,level:10),style:"expedition/crystal",part:Prop(Structure)),
(position:(q:1,r:-1,level:11),style:"expedition/crystal",part:Prop(Structure)),
(position:(q:1,r:-1,level:12),style:"expedition/crystal",part:Prop(Structure)),
(position:(q:1,r:-1,level:13),style:"expedition/crystal",part:Prop(Structure)),
(position:(q:1,r:-1,level:14),style:"expedition/crystal",part:Prop(Structure)),
(position:(q:1,r:-1,level:15),style:"expedition/crystal",part:Prop(Structure)),
(position:(q:1,r:-1,level:16),style:"expedition/crystal",part:Prop(Structure)),
(position:(q:1,r:-1,level:17),style:"expedition/crystal",part:Prop(Structure)),
(position:(q:1,r:-1,level:18),style:"expedition/crystal",part:Prop(Structure)),
(position:(q:1,r:0,level:0),style:"expedition/stone-recess",part:Prop(Structure)),
(position:(q:1,r:0,level:1),style:"expedition/crystal",part:Prop(Structure)),
(position:(q:1,r:0,level:2),style:"expedition/crystal",part:Prop(Structure)),
(position:(q:1,r:0,level:3),style:"expedition/crystal",part:Prop(Structure)),
(position:(q:1,r:0,level:4),style:"expedition/crystal",part:Prop(Structure)),
(position:(q:1,r:0,level:5),style:"expedition/crystal",part:Prop(Structure)),
(position:(q:1,r:0,level:6),style:"expedition/crystal",part:Prop(Structure)),
(position:(q:1,r:0,level:7),style:"expedition/crystal",part:Prop(Structure)),
(position:(q:1,r:0,level:8),style:"expedition/crystal",part:Prop(Structure)),
(position:(q:1,r:0,level:9),style:"expedition/crystal",part:Prop(Structure)),
(position:(q:1,r:0,level:10),style:"expedition/crystal",part:Prop(Structure)),
(position:(q:1,r:0,level:11),style:"expedition/crystal",part:Prop(Structure)),
(position:(q:1,r:0,level:12),style:"expedition/crystal",part:Prop(Structure)),
(position:(q:1,r:0,level:13),style:"expedition/crystal",part:Prop(Structure)),
(position:(q:1,r:0,level:14),style:"expedition/crystal",part:Prop(Structure)),
(position:(q:1,r:0,level:15),style:"expedition/crystal",part:Prop(Structure)),
(position:(q:1,r:0,level:16),style:"expedition/crystal",part:Prop(Structure)),
(position:(q:1,r:0,level:17),style:"expedition/crystal",part:Prop(Structure)),
(position:(q:1,r:0,level:18),style:"expedition/crystal",part:Prop(Structure)),
(position:(q:1,r:1,level:0),style:"expedition/stone-recess",part:Prop(Structure)),
(position:(q:1,r:1,level:1),style:"expedition/crystal",part:Prop(Structure)),
(position:(q:1,r:1,level:2),style:"expedition/crystal",part:Prop(Structure)),
(position:(q:1,r:1,level:3),style:"expedition/crystal",part:Prop(Structure)),
(position:(q:1,r:1,level:4),style:"expedition/crystal",part:Prop(Structure)),
(position:(q:1,r:1,level:5),style:"expedition/crystal-tip",part:Prop(Structure)),
(position:(q:1,r:1,level:6),style:"expedition/crystal-tip",part:Prop(Structure)),
(position:(q:1,r:2,level:0),style:"expedition/stone-recess",part:Prop(Structure)),
(position:(q:2,r:-3,level:0),style:"expedition/stone-recess",part:Prop(Structure)),
(position:(q:2,r:-2,level:0),style:"expedition/stone-recess",part:Prop(Structure)),
(position:(q:2,r:-1,level:0),style:"expedition/stone-recess",part:Prop(Structure)),
(position:(q:2,r:0,level:0),style:"expedition/stone-recess",part:Prop(Structure)),
(position:(q:2,r:1,level:0),style:"expedition/stone-recess",part:Prop(Structure)),
(position:(q:3,r:-3,level:0),style:"expedition/stone-recess",part:Prop(Structure)),
(position:(q:3,r:-2,level:0),style:"expedition/stone-recess",part:Prop(Structure)),
(position:(q:3,r:-1,level:0),style:"expedition/stone-recess",part:Prop(Structure)),
(position:(q:3,r:0,level:0),style:"expedition/stone-recess",part:Prop(Structure)),
],blocker_footprint:[
(q:-3,r:0),
(q:-3,r:1),
(q:-3,r:2),
(q:-3,r:3),
(q:-2,r:-1),
(q:-2,r:0),
(q:-2,r:1),
(q:-2,r:2),
(q:-2,r:3),
(q:-1,r:-2),
(q:-1,r:-1),
(q:-1,r:0),
(q:-1,r:1),
(q:-1,r:2),
(q:-1,r:3),
(q:0,r:-3),
(q:0,r:-2),
(q:0,r:-1),
(q:0,r:0),
(q:0,r:1),
(q:0,r:2),
(q:0,r:3),
(q:1,r:-3),
(q:1,r:-2),
(q:1,r:-1),
(q:1,r:0),
(q:1,r:1),
(q:1,r:2),
(q:2,r:-3),
(q:2,r:-2),
(q:2,r:-1),
(q:2,r:0),
(q:2,r:1),
(q:3,r:-3),
(q:3,r:-2),
(q:3,r:-1),
(q:3,r:0),
],canopy_occluders:[])
